@page
@model BookStore.Pages.Admin.IndexModel
@{
    <h2>Admin page</h2>
    <a href="~/logout">
        <input type="button" value="Log Out">
    </a>
    <p></p>
    <a href="~/Admin/users">
        <input type="button" value="Manage users">
    </a>
    <p></p>
    <a href="~/Admin/books">
        <input type="button" value="Manage books">
    </a>
}